@model IEnumerable<Positions>
@{
    ViewData["Title"] = "Role Management";
}

<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0" >Role Management</h1>
        </div>
        <div class="d-flex align-items-center gap-2 gap-lg-3">
            <a asp-controller="Position" asp-action="CreatePosition" class="btn btn-sm fw-bold btn-danger">Add New Role</a>
        </div>
    </div>
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-xxl">
        <div class="card">
            <div class="mb-8">
            </div>
            <div class="card-body pt-0">
                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_datatable_01">
                    <thead>
                        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                            <th class="min-w-125px">Role Name</th>
                            <th class="min-w-125px">Role Description</th>
                            <th class="min-w-125px">Created By</th>
                            <th class="min-w-125px">Date Created</th>
                            <th class="min-w-125px">Status</th>
                            <th class="text-end min-w-70px">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                        @foreach (var infoFromDb in Model)
                        {
                            <tr>
                                <td>
                                    <p class="text-gray-800 text-hover-danger mb-1">@infoFromDb.Position_Name</p>
                                </td>
                                <td>
                                    <p class="text-gray-600 text-hover-danger mb-1">@infoFromDb.Position_Description</p>
                                </td>
                                <td>
                                    <p class="text-gray-600 text-hover-danger mb-1">@infoFromDb.CreatedBy</p>
                                </td>
                                <td data-filter="mastercard">
                                    <p class="text-gray-600 text-hover-danger mb-1">@infoFromDb.DateCreated.ToString("MMMM")</p>
                                </td>
                                <td>
                                    <p class="badge badge-light-success fw-bold">Active</p>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-sm btn-light btn-active-light-danger" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                        Actions
                                        <span class="svg-icon svg-icon-5 m-0">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-danger fw-semibold fs-7 w-125px py-4" data-kt-menu="true">
                                        <div class="menu-item px-3">
                                            <a class="menu-link px-3" asp-controller="Position" asp-action="EditPosition" asp-route-id="@infoFromDb.Position_Id">Edit</a>
                                        </div>
                                        <div class="menu-item px-3">
                                            <a class="menu-link px-3" asp-controller="Position" asp-action="DeletePosition" asp-route-id="@infoFromDb.Position_Id">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script src="~/plugins/global/plugins.bundle.js"></script>
<script src="~/plugins/custom/datatables/datatables.bundle.js"></script>

<script type="text/javascript">
    $("#kt_datatable_01").DataTable({
        "language": {
            "lengthMenu": "SHOW MENU",
        },
        "dom":
            "<'row'" +
            "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
            "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
            ">" +

            "<'table-responsive'tr>" +

            "<'row'" +
            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
            ">"
    });
</script>